@media (max-width: 1251px) {
    .product-general-info {
        display: flex;
        flex-direction: column;
    }

    .add-product textarea {
        height: 150px;
    }
}

@media (max-width: 791px) {
    .product-general-info__price {
        margin-top: 15px;
    }
}

@media (max-width: 701px) {
    .add-product textarea {
        width: 400px;
        height: 100px;
    }
}

@media (max-width: 697px) {
    .brand-profile-settings__modal-window {
        width: 600px;
        height: 450px;
    }

    .settings-item__form input {
        width: 200px;
        font-size: 14px;
    }

    #save {
        font-size: 16px;
        top: 80%;
    }

    .settings-item__form input::placeholder {
        font-size: 14px;
    }

    .settings-content {
        justify-content: center;
        column-gap: 10px;
    }
}

@media (max-width: 668px) {
    .add-product textarea {
        width: 400px;
        height: 90px;
    }
}

@media (max-width: 608px) {
    .brand-profile-settings__modal-window {
        width: 500px;
        height: 400px;
        padding: 10px;
    }

    #save {
        top: 85%;
    }
}

@media (max-width: 560px) {
    main {
        padding: 40px 0 40px 10px;
    }

    .brand-description {
        margin-left: 5px;
    }

    .brand-description p {
        font-size: 16px;
        width: 200px;
    }

    .brand-description h1 {
        font-size: 18px;
    }

    .fa-cogs {
        font-size: 20px;
        left: 90%;
    }

    .brand-avatar img {
        height: 250px;
    }
}

@media (max-width: 508px) {
    .brand-profile-settings__modal-window {
        width: 430px;
    }

    .settings-item__form input {
        width: 170px;
        font-size: 12px;
    }

    .settings-item__form input::placeholder {
        font-size: 12px;
    }
}

@media (max-width: 470px) {
    .add-product textarea {
        width: 300px;
        height: 90px;
    }

    .brand-description p {
        font-size: 14px;
        width: 180px;
    }

    .brand-avatar img {
        height: 200px;
    }
}

@media (max-width: 441px) {
    .brand-profile-settings__modal-window {
        height: auto;
        padding: 20px 20px 70px 20px;
        width: 100%;
    }

    #save {
        top: 92%;
    }

    .settings-content {
        flex-direction: column;
    }
}

@media (max-width: 360px) {
    .scroll-to-top__button {
        left: 80%;
    }

    .brand-info {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .fa-cogs {
        top: 10px;
    }
}

@media (max-width: 340px) {

    .product-general-info input,
    .add-product textarea {
        font-size: 16px;
    }

    .product-general-info input {
        width: 250px;
    }

    .add-product textarea {
        width: 250px;
    }
}