main {
    padding: 0 140px 100px 140px;
}

.main-title {
    opacity: 50%;
    text-align: center;
    font-size: 32px;
    font-family: 700;
    margin-top: 45px;
}

.brands-items {
    margin-top: 30px;
    display: flex;
    gap: 30px 120px;
    flex-wrap: wrap;
}

.item {
    position: relative;
    display: flex;
    padding: 20px 40px;
    border-radius: 30px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: white;
    overflow: hidden;
    width: 450px;

    transition: .5s ease box-shadow,
                    .5s ease background-color,
                    .5s ease transform;
}

.item:hover {
    box-shadow: none;
    transform: translateY(4px);
}

.item__button {
    position: absolute;
    top: 100%;
    background-color: transparent;
    border: 1px solod black;
    outline: none;
    padding: 3px 0;
    width: 240px;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;

    transition: .3s ease top,
                    .3s ease background-color,
                    .3s ease color;
}

.item__button:hover {
    background-color: black;
    color: white;
}

.item:hover .item__button {
    top: 75%;
}

.item img {
    height: 200px;
}

.item-description {
    margin-left: 60px;
    font-size: 18px;
    width: 270px;
}

.item-description h2 {
    font-size: 32px;
    white-space: nowrap;
}

.item-description p {
    margin-top: 15px;
}